html {
    scroll-behavior: smooth;
}

body {
    background-color: #040404;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* background-color: #333; */
    color: #fff;
    /* font-color: #fff; */
    font-family: "IBM Plex Mono";
    text-decoration: none;
}

nav a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 20px; */
    /* background-color: #333; */
    color: #fff;
    /* font-color: #fff; */
    font-family: "IBM Plex Mono";
    text-decoration: none;
}


#logo {
    font-size: 1.5rem;
    font-weight: semi-bold;
    color: #fff;
    text-decoration: none;
}

.menu {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}



.menu-item {
    cursor: poIBM Plex Mono;
}

.home-heading {
    color: #fff;
    font-family: IBM Plex Mono;
    font-size: 30px;
    margin-left: 20px;
}

.landing {
    color: #fff;
    font-family: IBM Plex Mono;
    font-size: 36px;
    margin-left: 20px;
    margin-top: 200px;
    align-content: center;
    text-align: center;
}

.typewrite {
    color: #F3BE57;
}

.canvas-body {
    text-align: center;
    /* text-align works, but there might be a more proper way to align to the center */

    margin-left: -12px;
    margin-right: 0px;
    margin-top: 80px;
    padding: 0px;

    position: absolute;
    /* top: 400;
    left: 0; */
    width: 100%;
    height: 100%;

    display: block;

    z-index: -2;
}

/* div.logParent {
    position: absolute;
    top: 20px;
    left: 20px;
    color: black;
    z-index: 2;
} */





.projects {
    color: #fff;
    font-family: IBM Plex Mono;
    margin-top: 503px;
    margin-bottom: 100px;
    display: block;
}

.projects a {
    color: #fff;
    font-family: IBM Plex Mono;
    text-decoration: none;
}

.project_text {
    display: flex;
    /* display: inline; */
    /* justify-content: space-between; */
    margin-left: 216px;
    margin-right: 80px;
    /* vertical-align: middle; */
    align-items: center;
}

.project_title {
    font-size: 26px;

}

.project_type {
    margin-left: auto;
    margin-right: 100px;
    font-size: 14px;
}

.project_num {
    margin-right: 140px;
}

.project_title:hover {
    background: #F3BE57;
    color: black;
    /* z-index: 2; */
}

/* .project_text:hover .project_img {
    display: block;
} */

.project_img {
    display: none;
    position: absolute;
    /* : none; */
    width: 200px;
    margin-top: 0;
}

.project_img img {
    width: 200px;
    height: auto;
    position: absolute;
    /* z-index: -1; */
}

#follow {
    width: 200px;
    height: 100px;
    /* top: px; */
}

#back_button {
    font-family: 'Inter', monospace;
    font-size: 18px;
    color: #F3BE57;
    padding-bottom: 20px;
    display: block;
}

.next_button {
    font-family: 'Inter', monospace;
    font-size: 18px;
    /* font-weight: 500; */
    color: #F3BE57 !important;
    /* text-decoration: none; */
    display: block;
    padding-top: 40px;
    padding-bottom: 70px;
    text-transform: lowercase;
}

.page {
    width: 1000px;
    position: absolute;
    display: block;

    padding-left: 380px;
    padding-top: 68px; 
    /* margin-left: auto;
    margin-right: auto; */
}

.page h1 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 30px;
    width: 700px;
    margin-top: 42px;
    color: #EDEDED;
}

.page p {
    padding-bottom: 10px;
    width: 700px;

    font-family: 'Inter', monospace;
    font-weight: 300;
    font-size: 16px;
    color: #EDEDED;
    margin-top: 8px;
    line-height: 26px;
}

.page li {
    padding-bottom: 10px;
    width: 600px;
    font-family: 'Inter', monospace;
    font-weight: 300;
    font-size: 16px;
    color: #EDEDED;
    line-height: 24px;
}

.page h2 {
    width: 600px;
    padding-top: 20px;
    padding-bottom: 8px;
    font-family: 'Inter', serif;
    font-size: 22px;
    color: #EDEDED;
    font-weight: 500;
}

.page h3 {
    margin-top: 8px;
    padding-top: 8px;
    padding-bottom: 6px;

    font-family: 'Inter', serif;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 0;
    padding-top: 6px;
    color: #EDEDED;
}

.page img {
    width: 700px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.portrait_pic {
    width: 260px !important;
    object-fit: cover;
    margin-right: 30px;
}

.noise_pic {
    width: 260px !important;
    margin: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#noise_pics {
    padding-top: 12px;
    padding-bottom: 12px;
}

.with_caption {
    color: #EDEDED;
    padding-bottom: 0 !important;
}

.caption {
    color: #A0A0A0 !important;
    padding-bottom: 16 !important;
}

.credit {
    color: #A0A0A0 !important;
    padding-top: 0 !important;
}

.smaller_pic {
    width: 360px !important;
}

.sources {
    font-size: 14px !important;
    line-height: 20px !important;
}

.spacing1 {
    height: 20px;
}

#hello {
    padding-top: 120px;
    font-size: 16px;
}

.page ul {
    padding-left: 20px;
}

ul {
    margin-top: 8px;
}

body {
    /* padding: 20px; */
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.oscar {
    padding: 60px;
    margin: auto;
}

#longpic {
    padding-bottom: 0px;
}

#longpic2 {
    padding-top: 0px;
}

#data_img {
    width: 600px;
}

#waveform {
    margin: 0;
    padding: 0;
    outline: none;
}

.nobullet {
    list-style-type: none;
}

#spin {
    -webkit-animation: spin 30s linear infinite;
    -moz-animation: spin 30s linear infinite;
    animation: spin 30s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.about {
    /* display: block; */
    padding-left: 360px;
    color: #EDEDED;
}

.about a {
    font-family: 'Montserrat', monospace;
    font-size: 20px;
    padding-left: 26px;
    text-decoration: none;
    color: #EDEDED;
}

.about p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 26px;
    display: block;
    color: EDEDED;
}

.about hr {
    width: 660px;
    border: .95px solid EDEDED;
}