#back {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: rgb(120, 120, 120);
}

.oscar {
    padding: 40px;
}

h1 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 30px;
}

h2 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 24px;
    color: green;
    padding-top: 16px;
}

h3 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    margin-bottom: 0;
}

ul {
    margin-top: 8px;
}

li {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: rgb(120, 120, 120);
    line-height: 24px;
}

p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: rgb(120, 120, 120);
    margin-top: 8px;
    line-height: 24px;
}

body {
    padding: 20px;
}

.oscar {
    width: 600px;
    padding: 60px;
    margin: auto;
}

.menu {
    display: inline-block;
    vertical-align:top;
    padding: 20px;
}

.work {
    display: inline-block;
    vertical-align:top;
    padding: 20px;
}

.work img {
    border: 5px solid #555;
    width: 300px;
}

.logo {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 30px;
    padding-bottom: 20px;
}

.logo a:link, a:hover, a:visited, a:active, a:focus {
  color: black;
  text-decoration: none;
}
.vertical-menu {
    width: 200px; /* Set a width if you like */
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
  }
  
  .vertical-menu a {
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
  }

  .vertical-menu a:hover {
    color: green; /* Black text color */
  }

  .vertical-menu a:focus {
    text-decoration: line-through;
  }