@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@font-face {
	font-family: "SuisseIntlRegular";
	src: url("./fonts/SuisseIntl-Regular.ttf");
}

@font-face {
	font-family: "SuisseIntl-Bold";
	src: url("./fonts/SuisseIntl-Bold.ttf");
}

.link {
	display: block;
	text-decoration: none;
}

* {
	/* --font-family: "JetBrains Mono"; */
	--primary: white;
	--bg: #212121;
	--accent: #deec48;
	/* --accent: black; */
	--gradient1: #ff7bca;
	--gradient2: #ffc56f;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "JetBrains Mono";
	background-color: var(--bg);
}

#gradient-canvas {
	width: 100%;
	height: 100%;
	--gradient-color-1: #c3e4ff;
	--gradient-color-2: #6ec3f4;
	--gradient-color-3: #eae2ff;
	--gradient-color-4: #b9beff;
}

.home-content {
	overflow-x: hidden;
	/* background-color: var(--bg); */
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	/* justify-content: space-between; */
}

.side-wrapper {
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.right-side {
	display: flex;
	flex-direction: column;
	/* margin-right: 2rem; */
	margin-bottom: 2rem;
}

.left-side {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 2rem;
}

.links {
	display: flex;
	flex-direction: column;
	position: absolute;
	bottom: 2rem;
}

.link {
	display: flex;
	margin-top: 0.2rem;
	font-size: 0.9rem;
}

.link-logo img {
	margin-top: 4px;
	width: 15px;
	height: 15px;
}

.link a {
	margin-left: 0.7rem;
	color: var(--primary);
	text-decoration: none;
}

.link a:hover {
	text-decoration-line: underline;
}

.all-projects-container {
	margin-top: 5rem;
	margin-bottom: 2rem;
}

h1 {
	margin-bottom: 0;
}

h2 {
	margin-bottom: 0;
}
h3 {
	margin-bottom: 0;
}

.bg {
	position: absolute;
	z-index: -2;
	background-color: var(--bg);
	width: 100vw;
	height: 100vh;
}

.hero {
	position: absolute;
	width: 100vw;
	height: 100vw;
	/* margin-left: -0px; */
	margin-top: -560px;
	/* opacity: 70%; */
	z-index: -1;
	overflow-y: hidden;
}

.navParent {
	position: fixed;
	top: 0;
	left: 0;
	margin: auto;
	width: 100%;
	/* padding: 2rem; */
}

.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-weight: 400;
	padding-top: 2rem;
	margin-right: 2rem;
	z-index: 2;
}

.menu {
	font-size: 1rem;
	width: 254px;
	display: flex;
	justify-content: space-between;
}

.burger {
	display: none;
}

footer {
	font-size: 0.8rem;
	color: var(--primary);
	align-self: flex-end;
}

#heart {
	color: var(--accent);
	font-size: 1rem;
}

.menu a {
	text-decoration: none;
	color: var(--primary);
}

.brand {
	/* position: absolute; */
	font-size: 1.2rem;
	font-family: "JetBrains Mono";
	/* font-family: "SuisseIntl"; */
	/* text-decoration: none; */
	color: var(--primary);
	/* font-weight: 500; */
}

.brand:hover span {
	display: none;
}

.brand:hover:before {
	content: "↓↓↓";
	background-color: var(--accent);
	color: black;
	padding: 0rem 2.1rem 0rem 2.1rem;
}

.brand img {
	width: 60px;
}

.landing {
	width: 400px;
	display: flex;
	flex-direction: column;
	position: absolute;
	justify-content: space-between;
	margin-top: 3rem;
	font-family: "JetBrains Mono";
}

.blurb {
	margin-top: 3rem;
	font-size: 0.9rem;
	line-height: 1.5rem;
	transition: 0.6s ease;
	color: var(--primary);
}

.blurb.show {
	opacity: 1;
}

.headline-text {
	font-size: 1rem;
	max-width: 400px;
	color: var(--primary);
	padding-top: 1rem;
}

.headline-text.show {
	transform: translateY(-40px);
	opacity: 1;
}

.pronouns {
	font-weight: 400;
}

.work {
	/* align-self: flex-end; */
	/* position: absolute; */
	/* margin-top: 1.4rem; */
	font-weight: 600;

	font-family: "JetBrains Mono";
	font-size: 1.2rem;
	color: var(--primary);
	/* padding: 0.4rem; */
	z-index: 2;
	margin-right: 0.1rem;
}

/* .workbg {
	margin-top: -1.8rem;
	margin-left: -1rem;
	height: 34px;
	width: 80px;
	background-color: var(--bg);
	backdrop-filter: blur(10px);
} */

.work:hover span {
	display: none;
}

.work:hover:before {
	content: "↓↓↓";
	background-color: var(--accent);
	color: black;
	padding: 0rem 2.1rem 0rem 2.1rem;
}

.project-container {
	display: flex;
	width: 540px;
	height: 140px;
	justify-content: space-between;
	font-weight: 300;
	border: var(--primary) 1px solid;
	margin-top: 1rem;

	/* background-color: var(--bg); */
}

.project.show {
	transform: translateY(-20px);
	opacity: 1;
}

.project-text {
	padding: 1.2rem;
}

.project-title {
	font-size: 1rem;
	font-weight: 600;
	transform: translateX(-1px);
	color: var(--primary);
	display: inline;
}

.project-container:hover .project-title {
	/* color: var(--accent); */
	background-color: var(--accent);
	color: black;
}

.project-container:hover {
	transform: translateX(-10px);
	transition: 0.3s ease;
}

.project-container {
	transition: 0.3s ease;
}

.project-description {
	font-size: 2rem;
	max-width: 500px;
	color: gray;
}

.project-types {
	display: inline-flex;
	color: var(--primary);
	font-size: 0.9rem;
	margin-left: 0.1rem;
	font-family: "JetBrains Mono", sans-serif;
}

.project-type {
	margin-top: 0.5rem;
	font-size: 0.9rem;
	margin-right: 0.6rem;
	padding: 0.2rem 0.3rem 0.2rem 0.3rem;
	border: var(--primary) solid 1px;
	color: var(--primary);
}

.project-image img {
	width: 200px;
	height: 100%;
	object-fit: cover;
	/* z-index: 4; */
	border-left: 1px var(--primary) solid;
}

.test {
	color: red;
}

.blobs {
	position: absolute;
	width: 100vw;
	background-color: red;
	z-index: -1;
}

.blob {
	/* border-radius: 60% 40% 30% 70% / 100% 85% 92% 74%; */
	border-top-left-radius: 70% 64%;
	border-top-right-radius: 70% 64%;
	border-bottom-right-radius: 70% 64%;
	border-bottom-left-radius: 70% 64%;

	width: 100vw;
	height: 180vh;
	/* left: 0vw; */

	opacity: 0.8;
	filter: blur(50px);

	/* z-index: -1; */
	position: absolute;
	overflow: hidden;
}

.blob-1 {
	top: -90vh;
	left: 20vw;
	background: radial-gradient(#ffc56f 40%, rgba(255, 255, 255, 0) 60%);
}

.blob-2 {
	top: -90vh;
	left: 30vw;
	background: radial-gradient(#df6ab7 20%, rgba(255, 255, 255, 0) 80%);
}

.page {
	display: flex;
	flex-direction: column;
	width: 600px;
}

.page img {
	width: 600px;
}

.pic-adj {
	margin-top: 1.2rem;
}

.caption {
	margin-top: 0.2rem;
	color: #6c6c6c;
	color: var(--primary);
}

.page p,
.page li {
	margin-top: 0.4rem;
	margin-bottom: 0;
	line-height: 1.7rem;
	font-family: "Open Sans";
	color: var(--primary);
}

.page img {
	margin-top: 1rem;
}

.page h1 {
	margin-top: 160px;
	color: var(--primary);
}

.page h2 {
	margin-top: 1.8rem;
	color: var(--primary);
	font-family: "Open Sans";
}
.page h3 {
	font-size: 1rem;
	margin-top: 1rem;
	font-weight: 600;
	color: var(--primary);
	font-family: "Open Sans";
}

.page ul {
	margin-top: 0;
	margin-bottom: 0;
	color: var(--primary);
}

.page-wrapper {
	display: flex;
	justify-content: center;
	height: 100%;
	overflow: auto;
	background-color: var(--bg);
}

.construction-text {
	position: absolute;
	margin-top: 30px;
}

.back-btn {
	display: inline;
	position: absolute;
	margin: 0;
	padding: 0;
	color: var(--accent);
}

.back-btn img {
	margin-top: 110px;
	width: 35px;
	height: 20px;
}

.back-btn:hover img {
	transform: translateX(-10px);
	transition: 0.3s ease;
}

.back-btn:not(hover) img {
	transform: translateX(0px);
	transition: 0.3s ease;
}

.next-btn {
	font-family: "JetBrains Mono", monospace;
	font-size: 1rem;
	margin-top: 4rem;
	margin-bottom: 8rem;
	display: inline-block;

	text-decoration: none;
	color: var(--accent);
	border: 1.6px solid var(--accent);

	padding: 0.2rem 0.4rem 0.2rem 0.4rem;
}
.next-btn:hover {
	background-color: var(--accent);
	text-decoration: none;
	color: var(--bg);
}

.about {
	font-family: "JetBrains Mono", monospace;
	position: absolute;
	top: 40%;
	width: 1000px;
	color: var(--primary);
	margin: auto 0;
}

.about-link-wrapper {
	margin-top: 300px;
}

.about-link {
	padding-bottom: 20px;
}
.about-link a {
	font-family: "JetBrains Mono", monospace;
	color: var(--primary);
}

#contact {
	font-size: 20px;
}

#under {
	margin-bottom: 40px;
}

.pen {
	font-size: 1.6rem;
}

.about a {
	text-decoration: none;
	color: var(--primary);
}

.about p {
	color: var(--primary);
}

.wrapper {
	margin-left: 5%;
	margin-right: 5%;
}
.navParent {
	margin-left: 5%;
	margin-right: 5%;
}
.nav {
	width: 90%;
}

/* xxlg */
@media (min-width: 1600px) {
	.wrapper {
		margin-left: 14%;
		margin-right: 14%;
	}
	.side-wrapper {
		width: 72%;
	}
	.navParent {
		margin-left: 14%;
		margin-right: 14%;
	}
	.nav {
		width: 72%;
	}
}

/* xlg */
@media (max-width: 1400px) {
}

/* lg */
@media (max-width: 1200px) {
	.landing {
		width: 340px;
	}
	.blob-1,
	.blob-2 {
		top: -120vh;
	}
	.right-side {
		margin-left: 2.4rem;
	}
	.blurb {
		font-size: 0.9rem;
	}
	.headline-text {
		font-size: 0.9rem;
	}
}

/* m */
@media (max-width: 992px) {
	.left-side,
	.right-side {
		margin-left: 2rem;
	}
	.blobs {
		position: relative;
	}

	.work,
	footer {
		align-self: flex-start;
	}

	.landing {
		position: relative;
	}

	.side-wrapper {
		flex-direction: column;
	}
	.work {
		display: none;
	}
	.navParent {
		position: relative;
	}
	.links {
		font-size: 0.8rem;
		position: relative;
		margin-top: 3rem;
		bottom: 0;
	}
	.project-container {
		flex-direction: column;
		height: 95%;
	}

	.project-image img {
		width: 100%;
		border-left: 0;
		border-right: 1px var(--primary) solid;
		border-top: 1px var(--primary) solid;
		border-bottom: 1px var(--primary) solid;
	}
	.project-title {
		font-size: 0.8rem;
	}
	.projects-title {
		font-size: 0.8rem;
		margin-top: 1rem;
	}
	.project-types {
		font-size: 0.8rem;
	}
	.left-side {
		margin-bottom: 1rem;
	}
}

/* s */
@media (max-width: 768px) {
	.blurb {
		font-size: 0.8rem;
	}
	.headline-text {
		font-size: 0.8rem;
	}
	.page {
		width: 500px;
	}
	.page img {
		width: 500px;
	}
	.back-btn img {
		width: 35px;
	}
}

/* xs */
@media (max-width: 576px) {
	.landing {
		margin-top: 15rem;
		width: 340px;
	}
	.left-side,
	.right-side {
		margin-left: 10%;
	}
	.project-type {
		font-size: 0.7rem;
	}
	.back-btn {
		margin-top: 1rem;
		top: -60px;
	}
	.page h1 {
		margin-top: 4rem;
		font-size: 1.6rem;
	}
	.page h2 {
		font-size: 1.2rem;
	}
	.page img {
		width: 90%;
	}
	.page {
		margin: 10%;
	}
	.page p {
		font-size: 0.8rem;
		line-height: 1.2rem;
	}

	.page ul {
		font-size: 0.8rem;
		line-height: 0.8rem;
	}
	.back-btn img {
		width: 35px;
	}
}
