@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap");

root {
	--primary: black;
}

.link {
	display: block;
	text-decoration: none;
}

* {
	font-family: "IBM Plex Mono";
}

html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	padding: 0;
	font-family: Inter;

	position: relative;
	overflow-x: hidden;
	background-color: white;
}

h1 {
	margin-bottom: 0;
}

h2 {
	margin-bottom: 0;
}
h3 {
	margin-bottom: 0;
}

.hero {
	position: absolute;
	width: 100vw;
	height: 100vw;
	margin-left: 180px;
	margin-top: -60px;
	opacity: 70%;
}

@media (max-width: 1400px) {
	.hero {
		margin-top: 0px;
		margin-left: 410px;
	}
}

.content {
	margin-left: 40px;
	margin-right: 40px;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	font-weight: 400;
	margin-top: 40px;
	z-index: 2;
}

.menu {
	font-size: 1rem;
	width: 254px;
	display: flex;
	justify-content: space-between;
}

.burger {
	display: none;
}

footer {
	margin-top: 40px;
	margin-bottom: 40px;
	/* color: #5e5e5eff; */
	color: var(--primary);
}

#heart {
	color: #f9306a;
}

.menu a {
	text-decoration: none;
	color: var(--primary);
}

.brand {
	font-size: 1rem;
	text-decoration: none;
	color: var(--primary);
}

.wrapper {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.landing {
	display: flex;
	justify-content: space-between;
}

.headline-name {
	font-size: 2rem;
	width: 48%;
	transform: translateY(-40px);
	transition: 0.6s ease;
	color: var(--primary);
}

.headline-name.show {
	transform: translateY(-40px);
	opacity: 1;
}

.headline-text {
	font-size: 1.2rem;
	max-width: 400px;
	color: var(--primary);
	transform: translateY(-40px);
	transition: 1s ease;
}

.headline-text.show {
	transform: translateY(-40px);
	opacity: 1;
}

.all-projects-container {
	margin-top: 6rem;
}

.project-container {
	display: flex;
	justify-content: space-between;
	font-weight: 300;

	transform: translateY(20px);
	transition: 0.56s ease-out;
	margin-top: 3rem;
}

.project.show {
	transform: translateY(-20px);
	opacity: 1;
}

.right-arrow {
	opacity: 0;
	transition: 0.3s;
	display: inline-block;
}

.right-arrow img {
	height: 1.1rem;
	margin-left: 0.2rem;
	transform: translateY(-0.1rem);
}

.project:hover .right-arrow {
	opacity: 1;
	transform: translateX(6px);
}

.project-title {
	font-size: 2rem;
	transform: translateX(-1px);
	margin-bottom: 0.4rem;
	color: black;
	display: inline;
}

.project:hover .project-title {
	color: #f9306a;
}

.project-description {
	font-size: 2rem;
	max-width: 500px;
	color: gray;
}

.project-types {
	display: inline-flex;
	color: black;
	font-size: 1rem;
	margin-left: 0.1rem;
	margin-top: 1rem;
}

.project-type {
	/* margin: 1rem; */
	margin-right: 0.6rem;
	padding: 0.2rem 0.5rem 0.2rem 0.5rem;
	/* background: #ffadc4; */
	border: #f9306a solid 1px;
	color: #f9306a;
	border-radius: 1rem;
}

.project-image img {
	width: 500px;
	height: 360px;
	border-radius: 12px;
	object-fit: cover;
	z-index: 4;
}

/* .project:hover img {
	filter: brightness(50%);
} */

.test {
	color: red;
}

.blobs {
	position: relative;
	width: 100vw;
	background-color: red;
}

.blob {
	/* border-radius: 60% 40% 30% 70% / 100% 85% 92% 74%; */
	border-top-left-radius: 70% 64%;
	border-top-right-radius: 70% 64%;
	border-bottom-right-radius: 70% 64%;
	border-bottom-left-radius: 70% 64%;

	width: 100vw;
	height: 180vh;
	/* left: 0vw; */

	opacity: 0.8;
	filter: blur(50px);

	/* z-index: -1; */
	position: absolute;
	overflow: hidden;
}

.blob-1 {
	top: -100vh;
	left: -54vw;
	background: radial-gradient(#f785ff 10%, rgba(255, 255, 255, 0) 80%);
	/* overflow: hidden; */
}

.blob-2 {
	top: -100vh;
	left: 0vw;
	background: radial-gradient(#99a7ff 10%, rgba(255, 255, 255, 0) 80%);
}

.blob-3 {
	top: -100vh;
	left: 60vw;
	background: radial-gradient(#6bdcff 10%, rgba(255, 255, 255, 0) 80%);
}

.page {
	display: flex;
	flex-direction: column;
	width: 600px;
	/* row-gap: 1rem; */
}

.page img {
	width: 600px;
	/* margin-top: 2rem; */
	/* margin-bottom: 2rem; */
}

.pic-adj {
	margin-top: 1.2rem;
}

.caption {
	margin-top: 0.2rem;
	color: #6c6c6c;
}

.page p,
.page li {
	line-height: 1.6rem;
	font-family: "Inter";
}

.page h1 {
	margin-top: 160px;
}

.page-wrapper {
	display: flex;
	justify-content: center;
}
/* 
.construction {
	margin-left: 30%;
} */

.construction-text {
	position: absolute;
	margin-top: 30px;
	/* margin-left: 400px; */
}

.back-btn {
	/* font-family: "Inter", monospace; */
	/* text-decoration: none; */
	/* font-size: 26px; */
	/* color: black; */
	/* margin-top: 6rem; */
	display: inline;
	position: absolute;
	margin: 0;
	padding: 0;
}

.back-btn img {
	margin-top: 110px;
	width: 35px;
	height: 20px;
	/* filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(82deg) brightness(97%)
		contrast(104%); */
}

.back-btn:hover img {
	/* filter: invert(26%) sepia(50%) saturate(3792%) hue-rotate(327deg)
		brightness(107%) contrast(95%); */
	/* content: url(require("../../Assets/icons/left-arrow-color.png")); */
	transform: translateX(-10px);
	transition: 0.3s ease;
}

.back-btn:not(hover) img {
	transform: translateX(0px);
	transition: 0.3s ease;
}

.next-btn {
	font-family: "Inter", monospace;
	font-size: 1.2rem;
	margin-top: 4rem;
	margin-bottom: 4rem;
	display: block;
	width: 7.2rem;
	text-decoration: none;
	color: #f9306a;
}
.next-btn:hover {
	/* color: #f9306a; */
	background-color: #f9306a;
	text-decoration: none;
	/* transition: 0.3s ease; */
	color: white;
}

.about {
	font-family: "IBM Plex Mono", monospace;
	position: absolute;
	top: 40%;
	/* padding-left: 20rem; */
	width: 1000px;
	color: black;
	margin: auto 0;
}

.about-link-wrapper {
	margin-top: 300px;
}

.about-link {
	padding-bottom: 20px;
}
.about-link a {
	/* text-decoration: none; */
	font-family: "IBM Plex Mono", monospace;
	color: black;
}

#contact {
	font-size: 20px;
}

#under {
	margin-bottom: 40px;
}

.pen {
	font-size: 1.6rem;
}

.about a {
	/* font-family: "Inter", monospace; */
	text-decoration: none;
	color: black;
}

.about p {
	color: black;
}

/* xxlg */
@media (min-width: 1600px) {
	.home-content {
		margin-left: 14%;
		margin-right: 14%;
	}
}

/* xlg */
@media (max-width: 1400px) {
	.home-content {
		margin-left: 0%;
		margin-right: 0%;
	}
}

/* lg */
@media (max-width: 1200px) {
	.project-title {
		max-width: 100px;
	}
	.project-types {
		max-width: 80%;
		font-size: 1.4rem;
	}
}

/* m */
@media (max-width: 992px) {
	.landing {
		flex-direction: column;
		gap: 1rem;
	}

	.headline-name {
		font-size: 2rem;
		width: 80%;
	}

	.headline-text {
		font-size: 1.28rem;
	}

	.project-container {
		flex-direction: column;
	}

	.project-text {
		padding-bottom: 2rem;
	}

	.project {
		flex-direction: column;
		justify-content: stretch;
		gap: 1rem;
	}

	.project-img img {
		width: 100%;
		height: 500px;
	}
}

/* s */
@media (max-width: 768px) {
}

/* xs */
@media (max-width: 576px) {
	.headline-name {
		font-size: 1.2rem;
		width: 100%;
	}

	.headline-text {
		font-size: 1rem;
		width: 100%;
	}

	.menu {
		flex-direction: column;
		position: absolute;
		top: 4rem;

		transform: translateY(-20px);
		opacity: 0;
	}

	.menu.show {
		transform: translateY(20px);
		transition: 0.6s ease;
		opacity: 1;
	}

	.burger-white-bg.show {
		width: 100%;
		height: 16rem;
		position: absolute;
		padding: 0;
		margin: 0;
		background-color: white;
		z-index: -1;
	}

	.menu a {
		margin: 0.4rem;
		margin: 1rem;
	}

	.burger {
		display: block;
		background-color: transparent;
		background-repeat: no-repeat;
		border: none;
		margin: 0 -12px 0 0;
		padding: 0;
	}

	.burger img {
		width: 1.4rem;
	}

	.project-title {
		font-size: 1.6rem;
		color: #f9306a;
	}

	.project-description {
		font-size: 1.2rem;
	}

	.project-image img {
		width: 100%;
		height: 200px;
	}

	.right-arrow {
		display: none;
	}

	.page {
		width: 80%;
	}

	.page img {
		width: 100%;
	}
}
